


/* 
---------------------------------------------
welcome
--------------------------------------------- 

*/
.welcome-area
{
  background-image: url("src/assets/images/time.jpg");
  background-repeat:no-repeat;
  background-position: right;
  background-size:auto;
  padding-bottom: 100px;
  padding-top: 100px;

  


}
.welcome-area h1 {
  padding-top: 5px;
  color : rgba(78,55,228,1);
  font-size: 70px;
    font-weight: 700;
    letter-spacing: 1px;
    font-style: italic  ; 
    padding-left: 20px;
padding-bottom: 5%;
}

.welcome-area h2{
  padding-left: 40px;
  color : rgba(78,55,228,1);
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 5%;



}
.welcome-area h3{
padding-left: 40%;
  color :#fba70b;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 700;
  padding-bottom: 5%;

  font-style: italic ; 

}
.welcome-area a{
 margin-left: 30%;
 
}
.welcome-area p{
  padding-left: 7%;
}


/*
---------------------------------------------
about
---------------------------------------------
*/

.right-content{
  align-self: center;
  padding-left: 10%;
  padding-bottom: 10%;
  
}
.right-content h2 {
  color : #fdefe9;
  
}
.right-content h2 em{
  color :#fba70b;
}
.right-content p{
  font-size: 20px;
  line-height: 26px;
  color: #fdefe9 !important ;

}

#about {
  padding: 100px 0px;
  position: relative;
  z-index: 9;
  background-image: url("src/assets/images/footer-bg.png");
  background-repeat: no-repeat;
  
}



#about img {
  padding-left: 5%;
  padding-bottom: 20%;
  padding-top: 20%;
  box-shadow: 0px -10px 30px #ccc;  
}

/*
---------------------------------------------
How
---------------------------------------------
*/
#how{
  padding-top: 10%;
}

@media (max-width: 992px) {
  .features-item {
    margin-bottom: 45px;
  }
}

.features-item {
  border-radius: 5px;
  padding: 60px 30px;
  
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.item_1 
{
    padding-left: 9%;
}
.item_2 
{
    padding-left: 9%;
}
.item_3
{
    padding-left: 9%;
    
}
.features-item {
  border-radius: 5px;
  padding: 60px 30px ;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.features-icon h3 {
  right:100%;
  TOP: 100%;
  margin-right:80%;
  font-size: 100px;
  font-weight: 600;
  color: #fdefe9;
}

.features-item img {
  z-index: 10;
  position: relative;
  max-width: 100%;
  margin-bottom: 40px;
}

.features-item h4 {
  margin-top: 0px;
  font-size: 22px;
  color: #1e1e1e;
  margin-bottom: 25px;
}
.features-item h2 {
  z-index: 9;
  position: absolute;
  top: 15px;
  left: 45px;
  font-size: 100px;
  font-weight: 600;
  color: #fdefe9;
}
.right-text{
    align-self: center;
    padding-left: 10%;
    padding-bottom: 30%;
    
  }
.features-item img {
  z-index: 10;
  position: relative;
  max-width: 100%;
  margin-bottom: 40px;
}

.features-item h4 {
  margin-top: 0px;
  font-size: 22px;
  color: #1e1e1e;
  margin-bottom: 25px;
}

.left-image-decor {
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 220%;
  margin-top: -200px;
}







/* 
---------------------------------------------
contact
--------------------------------------------- 
*/

@media (max-width: 992px) {
  footer {
    padding-top: 0px!important;
    margin-top: 0px!important;
  }
  .contact-form {
    margin-bottom: 45px;
  }
  footer .right-content {
    text-align: center;
    margin-left: 20%;
  }
  footer .footer-content {
    padding: 60px 0px!important;
  }
}

footer {
  margin-top: 200px;
  padding-top: 120px;
  background-image: url("src/assets/images/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

footer .footer-content {
  padding: 120px 0px;
}

.contact-form {
  position: relative;
  z-index: 10;
  padding: 45px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  margin-left: 20%;
  
}

footer .right-content {
  align-self: center;
  padding-left: 10%;
  padding-bottom: 30%;
  
}

.contact-form input,
.contact-form textarea {
  color: #777;
  font-size: 13px;
  border: 1px solid #eee;
  background-color: #f7f7f7;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 30px;
}

.contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

.contact-form {
  text-align: center;
}

.contact-form ::-webkit-input-placeholder { /* Edge */
  color: #7a7a7a;
}

.contact-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #7a7a7a;
}

.contact-form ::placeholder {
  color: #7a7a7a;
}


footer .social {
  overflow: hidden;
  margin-top: 30px;
}

footer .social li:first-child {
  margin-left: 0px;
}

footer .social li {
  margin: 0px 7.5px;
  display: inline-block;
}

footer .social li a {
  color: #fff;
  text-align: center;
  background-color: transparent;
  border: 1px solid #fff;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

footer .social li a:hover {
  background-color: rgba(78,55,228,1);
  border-color: rgba(78,55,228,1);
  color: #fff;
}


footer .sub-footer {
  padding: 60px 0px;
  border-top: 1px solid rgba(250,250,250,0.3);
  text-align: center;
}

footer .sub-footer a {
	color: #FFF;
}

footer .sub-footer a:hover {
	color: rgba(78,55,228,1);
}

footer .sub-footer p {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
